<div class="cabin-gallery" *ngIf="images && images.length > 0">
  <div class="main-image" *ngIf="images.length > 0">
    <img [src]="getImageUrl(images[0])" [alt]="cabinName" (click)="openGallery(0)">
    <div class="image-overlay" (click)="openGallery(0)">
      <fa-icon [icon]="faSearchPlus"></fa-icon>
    </div>
  </div>

  <div class="thumbnail-grid" *ngIf="images.length > 1">
    <div
      class="thumbnail"
      *ngFor="let image of images.slice(1, 5); let i = index"
      (click)="openGallery(i + 1)">
      <img [src]="getImageUrl(image)" [alt]="cabinName + ' ' + (i + 2)">
      <div class="thumbnail-overlay">
        <fa-icon [icon]="faSearchPlus"></fa-icon>
      </div>
    </div>

    <div class="more-images" *ngIf="images.length > 5" (click)="openGallery(0)">
      <fa-icon [icon]="faImages"></fa-icon>
      <span>+{{ images.length - 5 }}</span>
    </div>
  </div>
</div>

<div class="no-images" *ngIf="!images || images.length === 0">
  <fa-icon [icon]="faImage" class="no-images-icon"></fa-icon>
  <p>Nema dostupnih slika</p>
</div>
